<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rss.com.example.yamlin.rssreader" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/rss"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="sensorPortrait"
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RssListActivity"
            android:label="@string/title_activity_rss_list"
            android:screenOrientation="sensorPortrait"
            >
        </activity>
        <activity
            android:name=".WebviewActivity"
            android:label="@string/title_activity_webview"
            android:screenOrientation="sensorPortrait"
            >
        </activity>
    </application>

</manifest>
